<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/headadmin.ejs') %>
 <link rel="stylesheet" href="css/css/style.css   ">
    <title>Admin</title>
</head>
<body>
    <header>
        <a href="/" class="a"><i class="fa fa-burger"></i>Resto Motia</a>

    </header>
    <div class="body">
        <%-include('../partials/sidebar.ejs') %>
        
    <section>
        <div class="container">
            <div class="box">
               <h1>1</h1>
                <h3>food</h3>
            </div>
            <div class="box">
               <h1>1</h1>
                <h3>drink</h3>
            </div>
            <div class="box">
               <h1>1</h1>
                <h3>brak-fast</h3>
            </div>
          
        </div>
        
    </section>
  </div>

  
    <script src="js/https://kit.fontawesome.com/307b76e7a2.js" crossorigin="anonymous"></script>
</body>
</html>