<h1 class="credit">Créé par <span>mr. Motia Mrabet </span>/ Réseaux sociaux</h1>

<div class="share" >
    <i class="fa fa-envelope" style="color: rgb(250, 150, 150);"></i> <a href="">Motiamrabet123@gmail.com</a>
    <i class="fa fa-facebook" style="color: blue;"></i> <a href="https://www.Facebook.com/motia.mrabet" class="">Facebook</a>
    <i class="fa fa-instagram" style="color: coral;"></i> <a href="https://www.Instagram.com/motia.mrabet" class="">Instagram</a>
</div>
<div class="stars">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
</div>  