<a href="/" class="logo"><i class="fas fa-utensils"></i>food </a>

<div id="menu-bar" class="fas fa-bars"></div>

<nav class="navbar">
  <a href="/">Home</a>
  <a href="/foods">Food</a>
  <a href="/drinks">Drink</a>
  <a href="/breaks">BreakFast</a>
  <a href="/order">order</a>
  <a href="/login">Login</a>
</nav>