<div class="sidebar">
    <header><a href="/admin" class="s">Admin Resto</a>  </header>
    <ul>
        <li ><a href="/specialityadmin" ><i class="fa fa-burger"></i>specialite</a></li>
        <li><a href="/foodadmin"><i class="fa fa-burger"></i>food</a></li>
        <li><a href="/drinkadmin"><i class="fa fa-burger"></i>drink</a></li>
        <li><a href="/breakadmin"><i class="fa fa-burger"></i>brakfast</a></li>
        <li><a href=""><i class="fa fa-burger"></i>order</a></li>
        <li><a href=""><i class="fa fa-burger"></i>user</a></li>

    </ul>
</div>