<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="icon" href="image/telechargement.jpg">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
<link rel="stylesheet" href="css/login.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login">
				<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" id="adminname" placeholder="User name / Email">
				</div>
				<div  class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input  type="password" class="login__input" id="passadmin" placeholder="Password">
				</div>
				<button class="button login__submit" onclick="auth()" href="/admin">
					<span class="button__text"> Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
				<a href="/inscription" >Inscription</a>				
			</form>
			<div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
<!-- partial -->
  <script>
function auth() {
    var login = document.getElementById("login").value;
    var pass = document.getElementById("password").value;
    if (login === "motia" && pass === "1") {
		window.location.replace("http://localhost:9000/admin")
		
	}
    else {
        alert("Sory")
    
    }
};
  </script>
</body>
</html>
